*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: -90px;
}

.h1{
    font-weight: 100;
    color: hsl(212, 6%, 44%);
    margin: 5px;
}

.h2{
    color: hsl(234, 12%, 34%);
    font-size: 31px;
}

.description{
    margin: 18px;
    width: 450px;
    color: hsl(234, 12%, 34%);
    font-size: 14px;
}

/* complete header portion */

.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}


.container-2{
    display: flex;
    gap: 350px;
    margin-top: -280px;
}


.box-1{
    background-color: hsl(0, 0%, 100%);
    border-top: 4px solid hsl(0, 78%, 62%);
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    height: 130px;
    width: 250px;
    box-shadow: 0px 5px 8px -5px hsl(212, 6%, 44%);
    border-radius: 6px;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.box-2{
    background-color: hsl(0, 0%, 100%);
    border-top: 4px solid hsl(34, 97%, 64%);
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    height: 130px;
    width: 250px;
    box-shadow: 0px 5px 8px -5px hsl(212, 6%, 44%);
    border-radius: 6px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    
}
.box-3{
    background-color: hsl(0, 0%, 100%);
    border-top: 4px solid hsl(180, 62%, 55%);
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    height: 130px;
    width: 250px;
    box-shadow: 0px 5px 8px -5px hsl(212, 6%, 44%);
    border-radius: 6px;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.box-4{
    background-color: hsl(0, 0%, 100%);
    border-top: 4px solid hsl(212, 86%, 64%);
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    height: 130px;
    width: 250px;
    box-shadow: 0px 5px 8px -5px hsl(212, 6%, 44%);
    border-radius: 6px;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

h2{
    color: hsl(234, 12%, 34%);
    font-size: 18px;
}

p{
    color: hsl(212, 6%, 44%);
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
}

img{
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 220px;
}
